html { width: 100%; height: 100%; }
body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: #fff;
    font-family: sans-serif;
    background: linear-gradient(-45deg, #a757e9, #942ceb, #6d15b4, #942ceb);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
.vh { height: 100%; align-items: center; display: flex; }
.vh > div { width: 100%; text-align: center; vertical-align: middle; }
img { max-width: 100%; }
.wrap {text-align: center;}
.wrap h1 {font-size: 30px;font-weight: 700;margin: 0 0 60px;}
.wrap h2 {font-size: 24px;font-weight: 400;line-height: 1.6;margin: 0 0 10px;}
@-webkit-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
.fundo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform:scale(1.7);
    opacity: 0.06;
    filter: blur(5px);
}
.quadros {
    display:grid;
    justify-content: center;
    padding-bottom: 30px;
}
.quadro, .quadr {
    width: 500px;
    height: 60px;
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 5px;
    transition: height 0.3s ease;
}
.quadro:hover, .quadr:hover {
    background-color: rgba(255, 255, 255, 0.158);
    transform:scaleX(1.1);
    height: auto;
}
.quadro:hover .lista-direita, .quadr:hover .lista-direita {
    display: block;
}
.lista-direita {
    text-align: right;
    display: none;
}
.lista-direita li {
    text-align: left;
}
.lista-direita a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.lista-direita a:hover {
    color: #43fa82;
    text-decoration: none;
}
.logo {
    max-width: 150px;
    height: auto;
}
@media screen and (max-width: 600px) {
    .quadros {
        padding: 0 20px 20px;
    }
    .quadro {
        width: 90%;
    }
}
