html { width: 100%; height: 100%; }
body { text-align: center; margin: 0px; padding: 0px; height: 100%; color: #fff; font-family: sans-serif;
background: linear-gradient(-45deg, #a757e9, #942ceb, #6d15b4, #942ceb);
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;}
.vh { height: 100%; align-items: center; display: flex; }
.vh > div { width: 100%; text-align: center; vertical-align: middle; }
img { max-width: 100%; }
.wrap {text-align: center;}
.wrap h1 {font-size: 30px;font-weight: 700;margin: 0 0 60px;}
.wrap h2 {font-size: 24px;font-weight: 400;line-height: 1.6;margin: 0 0 10px;}
@-webkit-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
.quadros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 170px 170px;
}
.quadro {
    flex: 1;
    display: inline-block;
    border: 2px solid #ffffff;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 5px;
}
.quadro:hover {
    background-color: rgba(255, 255, 255, 0.158);
}
.lista-direita {
    text-align: right;
}
.lista-direita li {
    text-align: left;
}
.lista-direita a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.lista-direita a:hover {
    color: #43fa82;
    text-decoration: underline;
}
.logo {
    max-width: 150px;
    height: auto;
}
@media screen and (max-width: 600px) {
    .quadros {
        padding: 0 20px 20px;
    }
    .quadro {
        width: 90%;
    }
}
